@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

a { @apply text-slate-900; }

::selection { @apply bg-slate-900 text-white; }
